<!DOCTYPE HTML>
<html>
<head>
	<title>Login</title>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link href="login.css" rel="stylesheet" />
  <script src="login-controller.js"></script>
</head>
<!-- TODO: export ng-app directive to upper-level and make login.html a partial view -->
<!-- TODO: form-validation -->
<body ng-app="proqod" ng-controller="LoginCtrl">
	<div class="row" id="login-section">
    <div class="medium-8 medium-centered large-5 large-centered columns">
      <form name="">
        <div class="row column login-form">
          <h3 class="text-center">Log In</h3>
          <label>Username
            <input type="text" placeholder="Username" ng-model="user.username" />
          </label>
          <label>Password
            <input type="password" placeholder="Password" ng-model="user.password" />
          </label>
          <input type="submit" class="button expanded" ng-click="login(user)" value="Log In" />
        </div>
      </form>
      <p class="float-left"><a href="#">Forgot your password?</a></p> 
      <p class="float-right">
        Don't have an account?
        <a href="#">Register here</a>
      </p>
    </div>
  </div>
</body>
</html>